/* Глобальные измененияя */

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    z-index: 0;
}
body {
    background-color: #621402;
    color: white;
    font-family: Calibri;
    
}

h2 {
    color: rgb(165, 164, 164);
    font-weight: 100;
}

.title, .session {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    width: 1018px;
}

iframe {
    width: 100%;
    height: 500px;
    display: none;
}

.diraction {
    display: block;
}

/* Настройка header */

header {
   background: linear-gradient(to top, rgba(98, 20, 2, 0.9), transparent), url("bg.jpg"), no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    
    position: relative;
    z-index: 1;
    padding: 10px;
    
}
.main-div {
    width: 1170px;
}

.header_up {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
} 

.header_up a{
    color: white;
    text-decoration: none;
} 
.right {
    display: flex;
    align-items: center;
    padding: 10px;
}

.right img {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    margin-left: 10px;
}
.navigation ul, .navigation li {
    display: flex;
    padding: 10px;
}

.navigation {
    display: flex;
    align-items: center;
}

/* Центральная настройка header */

#ocenka {
    font-size: large;
    font-weight: bold;
}

.title {
    margin-bottom: 50px;
    margin-top: 20px;
    width: 100%;
}
.title p {
    width: 570px;
}

.title img {
    margin-right: 100px;
}

.time {
    display: flex;
    margin-bottom: 50px;
}


.time img, .time p {
    margin: 10px;
}


/* Нижняя настройка header */

.session {
    border-top: 1px solid white ;
    border-bottom: 1px solid white ;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.date.active, .date:hover  {
    background-color: orange;
    color: #621402;
}


.date {
    display: flex;
    border: 1px solid white;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 90px;
    height: 90px;
    font-size: large;
    transition: background-color 0.3s;
    cursor: pointer;
}

.date-class {
    display: flex;
    flex-direction: column;
   
}

.flex-block {
    display: flex;
}

.title-date {
    margin-bottom: 20px;
}

.num-date {
    font-weight: bold;
    font-size: 30px;
}

select {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    appearance: none;
}

select:focus {
    outline: none;
}

option {
    background-color: #621402;
    color: white;
    border-radius: 10px;

}
.select-div {
    display: flex;
}
#cinema select {
    width: 470px;
    margin-right: 10px;
}
#date-time select {
    width: 108px;
}

/* Настройка main */
.main-class {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, rgba(98, 20, 2, 0.9)), no-repeat cover;
    margin-bottom: 50px;
    width: 100%;
}

.main-class path:not(.light) {
    fill: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: fill 0.3s ease;
}

.main-class path:not(.light):hover {
    fill: rgba(255, 255, 255, 0.5);
}

.main-class path.booked, .main-class path.booked:hover {
    fill: rgba(255, 255, 255, 0.05);
    cursor: not-allowed;
}

.scheme path.activ, .scheme path.activ:hover {
    fill: orange;
}

.price-conteiner {
    display: flex;
    justify-content: space-between;
}

.button-pay {
    background-color: #FE8E05;
    color: white;
    text-decoration: none;
    padding: 24px 52px;
    border-radius: 10px;
}

.price-tag {
    display: flex;
    flex-direction: column;
    font-size: large;
}

.price-total {
    font-size: larger;
}

.scheme-svg {
    width: 100%;
}

/* Адаптивная верстка */

@media (max-width: 1030px) {

    header {
        font-size: 2vw;
    }

    #cinema select {
        width: 100%;
        margin-right: 10px;
    }
    #date-time select {
        width: 100%;
    }

    .right {
        width: auto;
    }

    .title p {
        width: 50%;
    }

    .date-class {
        width: auto;
    }

    .date {
        font-size: 1.25vw;
    }

    .time {
        width: auto;
    }

    select {
        font-size: 1.25vw;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }

}

@media (max-width: 780px) {

    .date-class {
        width: 50%;
    }

    .select-div {
        width: 50%
    }

    .price-conteiner {
        margin: 20px;
    }

    header {
        padding: 30px;
    }
}